.container-header{
    width: 100%;
    display: flex;
    height: 70px;
    position: fixed;
    z-index: 2;
}


/* header */

.logo img{
  width: 70px;
}

/* aside */

aside{
    height: 100vh;
     
    padding: 75px 5px;
}



/* main */

main{
    display: flex;
}

.container-main{
    padding-top: 75px;
    height: 100vh;
}
.container-main-2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 1200px;
    padding-top: 75px;
}

i{
    display: inline-block;
}

.nouvo-studente:hover{
    background-color: rgb(255, 255, 255);
    color: black;

}

#finestra{
    display: none;
}
.nouvo-studente:active #finestra{
    display: inline;

}

.pagina{
    display: none;
}

.lista:hover .pagina{
    display: block;
}

#done{
    font-size: small;
}

.bottone:hover{
    background-color: white;
    opacity: 0.5;
}


li:hover{
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
}
