


/* header */
#inizio{
    height: 70px;

}




/* aside */




/* main */
.main-section{
    height: calc(100vh - 70px);
 
}

#main-content{
    overflow-y: auto;
}

#finestra{
    display: none;
}
.nouvo-studente:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
.nouvo-studente:active #finestra{
    display: inline;

}

.pagina{
    display: none;
}

#studente:hover .pagina{
    display: block;
}

#done{
    font-size: smaller;
}

#classe{
    padding: 5px;
    background-color: orange;
}

li:hover{
    background-color: white;
    opacity: 0.5;
}